# MediatR License Key
MEDIATR_LICENSE_KEY = {{Enter your MediatR license key here}}

# Groq API Key
GROQ_API_KEY = {{Enter your Groq API key here}}

# Auth0 Configuration
AUTH0_DOMAIN = {{Enter your Auth0 domain here}}
AUTH0_AUDIENCE = {{Enter your Auth0 audience here}}

# R2 Configuration
R2_ACCOUNT_ID = {{Enter your R2 Account ID here}}
R2_ACCESS_KEY_ID = {{Enter your R2 Access Key ID here}}
R2_SECRET_ACCESS_KEY = {{Enter your R2 Secret Access Key here}}
R2_PUBLIC_BUCKET_NAME = cms-public
R2_PUBLIC_BUCKET_URL = {{Enter your R2 public bucket URL here}}
R2_BACKUP_BUCKET_NAME = cms-backup
R2_SYNC_INTERVAL = 15
